arxiv==1.4.3
PyMuPDF==1.21.1
requests==2.26.0
tiktoken==0.2.0
tenacity==8.2.2
pybase64==1.2.3
Pillow==9.4.0
openai==0.27.0
markdown
jieba
gradio==3.20.1
flask==2.2.3
flask-cors==3.0.10
bs4==0.0.1
urllib3==1.25.11
