arxiv==1.4.3
PyMuPDF
requests==2.26.0
tiktoken
tenacity
pybase64==1.2.3
Pillow==9.4.0
openai
markdown
jieba
gradio==3.20.1
flask==2.2.3
flask-cors==3.0.10
bs4==0.0.1
urllib3==1.25.11
sphinx-markdown-tables
sphinxemoji
recommonmark
sphinx-book-theme
