aiohttp==3.8.4
aiosignal==1.3.1
arxiv==1.4.7
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
bill==0.0.1
blis==0.7.9
catalogue==2.0.8
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
confection==0.0.4
cymem==2.0.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
feedparser==6.0.10
frozenlist==1.3.3
idna==3.4
Jinja2==3.1.2
langcodes==3.3.0
lxml==4.9.2
MarkupSafe==2.1.3
multidict==6.0.4
murmurhash==1.0.9
numpy==1.25.0
openai==0.27.8
packaging==23.1
pandas==2.0.2
pathy==0.10.1
Pillow==9.5.0
preshed==3.0.8
pydantic==1.10.9
PyMuPDF==1.22.3
pyphen==0.14.0
python-dateutil==2.8.2
pytz==2023.3
regex==2023.6.3
requests==2.31.0
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.3.0
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
tenacity==8.2.2
textstat==0.7.3
thinc==8.1.10
tiktoken==0.4.0
tqdm==4.65.0
typer==0.7.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
wasabi==1.1.2
yarl==1.9.2
